html, body {
	margin: 0; 
	height: 100%; 
	overflow: hidden
}

body {
  white-space: pre;
  tab-size: 8;
  font-size: 30px;
  font-family: Courier New;
  padding-right: 30px;
  display: inline-block;
  background-color: black;
  color: #f0f0f0; 
}

/*

body span {
  height: 10px;
  margin-bottom: 0px;
  width: 3px;
  background: white;
  opacity: 1;
  overflow: hidden;
  display: inline-block;
  animation: blink 0.8s linear infinite alternate;
}

@keyframes blink {
  50% { opacity: 0; }
  100% { opacity: 1; }
}

*/