#terminal {
	color: #3AFD33;

	font-family: Courier New;
	font-weight: lighter;

	width: screen.width;
	height: screen.height;
}

*:focus {
	outline: none;
}

* {
	padding: 0; 
	margin: 0;
	border: none;
	
	background: black;
}s