#terminal {
	color: #3AFD33;
	font-family: Menlo;
	font-weight: lighter;
	font-size: 30px;
	line-height: 30px;
	width: screen.width;
	height: screen.height;
}

*:focus {
	outline: none;
}

html, body {
	padding: 0; 
	margin: 0;
	border: none;
	background: black;
}